/* ALL PAGES */
/* Basic styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
h1 {
  font-style: 64px;
  color: #1f3f68;
}
h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}
h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
input,
textarea {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.btn-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
/* footer */
.footer-top_title {
  width: 340px;
}
.footer-top_text {
  width: 495px;
}
.footer-bottom_list {
  display: flex;
  justify-content: space-around;
}
.footer-bottom_item {
  list-style-type: none;
}
/* INDEX Pages */
/* Top part */
.top {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  height: 768px;
}
.top-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu {
  margin-top: 34px;
  height: 48px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu-item {
  list-style-type: none;
}
.menu-link {
  text-decoration: none;
}
.menu-img_second {
  padding: 5px 0;
}
.top-text {
  flex-grow: 1;
  background-image: url(../img/top_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 94px;
}
.top-text_title {
  margin-top: 115px;
  width: 504px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
}
.top-text_content {
  margin-top: 32px;
  width: 425px;
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.top-text_link {
  margin-top: 71px;
  display: inline-block;
  text-decoration: none;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 15px 50px;
}
/* what-we-do */
.what-we-do {
  margin-top: 64px;
}
.what-we-do_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.card {
  padding: 44px 32px;

  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 359px;
}
.card-img {
  align-self: center;
}

.card-title {
  margin-top: 50px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.card-text {
  font-weight: 400;
  letter-spacing: 0.05em;
  opacity: 0.6;
  margin-top: 15px;
}
.card_link {
  margin-top: 28px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
}

/* projects */
.projects {
  margin-top: 64px;
}

.projects-text {
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  width: 66%;
  margin: 32px auto 64px;
}

/* CONTACT PAGE */
.contact {
  display: flex;
  justify-content: space-around;
}
